.cart{
    background: #FE980F;
    color: #ffffff;
    font-size: 15px;
    position: absolute;
    left: 500px;
}

.comments{
    background: #FE980F;
    color: #ffffff;
    font-size: 15px;
    position: absolute;
    cursor: pointer;
}

.row{
    margin-top: 70px;
}

.modal-header{
    background-color: brown;
    color: white;
}