.section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-check-inline{
    padding-left: 15px;
}

.title{
    font-weight: bold;
}

.co{
    border-style: solid;
    border: 2px;
    border-color: black;
}

.list-group-item-primary{
    cursor: pointer;
}

.modal-header{
    background-color: brown;
    color: white;
}

