<app-navbar></app-navbar>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-primary" data-toggle="modal" data-target="#exampleModal">
                        Reportar incidente</li>
                    <li class="list-group-item list-group-item-primary" (click)="editProfile()">Editar perfil</li>
                    <li class="list-group-item list-group-item-primary" data-toggle="modal" data-target="#exampleModal2">Lecciones Aprendidas</li>
                    <li *ngIf="adminUser || responsibleUser" class="list-group-item list-group-item-primary" (click)="listaIncidentes()">Ver incidentes</li>
                    <li *ngIf="adminUser" class="list-group-item list-group-item-primary" (click)="registrarResponsable()">Registrar Responsable</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let item of incidents; let i = index">
                            <!--<th scope="row">{{item.tittle}}</th>
                             <th scope="row"><img src="{{images[i]}}" style="max-width: 100px; max-height: 100px;"></th>-->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </div>
</div>





    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reporte Incidente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="incidentForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="title" for="exampleInputEmail1">Tittle:</label>
                            <input formControlName="tittle" type="text" class="form-control" id="exampleInputText"
                                aria-describedby="emailHelp" placeholder="Enter title">

                        </div>
                        <div class="form-group">
                            <label class="title" for="exampleInputEmail1">Descripción:</label>
                            <textarea formControlName="content" class="form-control"
                                placeholder="Describa su incidente aquí" id="exampleFormControlTextarea1"
                                rows="3"></textarea>

                        </div>
                        <label class="title" for="exampleInputEmail1">Nivel de impacto: </label>
                        <div class="from-group form-check form-check-inline">
                            <input formControlName="category" class="form-check-input" type="radio" name="category"
                                value="bajo" id="inlineRadio1">
                            <label class="form-check-label" for="inlineRadio1"> Bajo</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input formControlName="category" class="form-check-input" type="radio" name="category"
                                value="medio" id="inlineRadio2">
                            <label class="form-check-label" for="inlineRadio2">Medio</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input formControlName="category" class="form-check-input" type="radio" name="category"
                                value="alto" id="inlineRadio3">
                            <label class="form-check-label" for="inlineRadio3">Alto</label>
                        </div>
                        <div class="form-group">
                            <label class="title" for="exampleFormControlFile1">Evidencia:</label>
                            <input type="file" (change)="onIncidentSelected($event)" class="form-control-file"
                                id="exampleFormControlFile1">
                            <small id="emailHelp" class="form-text text-muted">Suba imagen de evidencia si la
                                tiene.</small>
                        </div>
                        <div class="form-footer">
                            <button type="submit" data-dismiss="modal" (click)="enviarReporte()"
                                class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- Modal 2-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Leccion Aprendida</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="leccionForm" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="title" for="exampleInputEmail1">Descripción:</label>
                    <textarea formControlName="description" class="form-control"
                        placeholder="Describa su incidente aquí" id="exampleFormControlTextarea1"
                        rows="3"></textarea>

                </div>
                <div class="form-group">
                    <label class="title" for="exampleFormControlFile1">Archivos:</label>
                    <input type="file" (change)="onLessonFileSelected($event)" class="form-control-file"
                        id="exampleFormControlFile1">
                    <small id="emailHelp" class="form-text text-muted">Suba un archivo</small>
                </div>
                <div class="form-footer">
                    <button type="submit" data-dismiss="modal" (click)="enviarLeccion()"
                        class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>

