.incidentes{
    min-width: 90%;
    min-height: 30%;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: brown;
    padding: 10px;
    position: relative;
}

.row{
    margin-top: 30px;
}

.negrilla{
    font-weight: bold;
}

h1{
    cursor: pointer;
}