.form-content{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    position: absolute;
    top: 19vh;
    width: 70%;
    background-color:white;
    opacity: 1;
}

.register{
    cursor: pointer;
}


.background{
    background-color: darkslategray;
    height: 100%;
    width: 100%;
}

.incorrectPassword{
    color: darkred !important;
}
