<div class="background">
    <div class="container" id="background">
        <div class="row justify-content-center">
            <div class="col-sm-7">
                <form [formGroup]="user" (ngSubmit)="onLogin()" class="form-content">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" formControlName="password" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <small class="form-text register text-muted" (click)="register()">Registrarse>></small>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>