<app-navbar></app-navbar>
<div class="container">
        <div class="row">
            <div class="col-sm-8">
                <form>
                    <div class="form-group">
                        <label for="name">Nombre:</label>
                        <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                            placeholder="nombre">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email:</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="email">
                    </div>
                    <div class="form-group">
                        <label>Telefono:</label>
                        <input type="text" class="form-control" placeholder="telefono">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Redes</label>
                        <input type="text" class="form-control" placeholder="redes">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
</div>